
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
font-family: 'Rajdhani', sans-serif;

body{
  background-color: black
}


#title{
  display: block;
}
h1{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  color: white;
  position: relative;
}

form{
  text-align: center;
  margin-bottom: 100px;
    position: relative;
}

#blessedQuote{
 display: none;
 width: 100%;
 height: 100%;
 position: absolute;
 margin-left: 50px;
 margin-bottom: 50px;
 font-family: 'Rajdhani', sans-serif;
 text-align: left;
 color: white;
 background-color: black;
 font-size: 32px;
 z-index: 10;
}

#lateQuote{
 display: none;
 width: 100%;
 height: 100%;
 position: absolute;
 margin-left: 50px;
 margin-bottom: 50px;
 font-family: 'Rajdhani', sans-serif;
 text-align: left;
 color: white;
 background-color: black;
 font-size: 32px;
 z-index: 10;
}

#prodQuote{
 display: none;
 width: 100%;
 height: 100%;
 position: absolute;
 margin-left: 50px;
 margin-bottom: 50px;
 font-family: 'Rajdhani', sans-serif;
 text-align: left;
 color: white;
 background-color: black;
 font-size: 32px;
 z-index: 10;
}

#shitQuote{
 display: none;
 width: 100%;
 height: 100%;
 position: absolute;
 margin-left: 50px;
 margin-bottom: 50px;
 font-family: 'Rajdhani', sans-serif;
 text-align: left;
 color: white;
 background-color: black;
 font-size: 32px;
 z-index: 10;
}

#stressedQuote{
 display: none;
 width: 100%;
 height: 100%;
 position: absolute;
 margin-left: 50px;
 margin-bottom: 50px;
 font-family: 'Rajdhani', sans-serif;
 text-align: left;
 color: white;
 background-color: black;
 font-size: 32px;
 z-index: 10;
}

#gymQuote{
 display: none;
 width: 100%;
 height: 100%;
 position: absolute;
 margin-left: 50px;
 margin-bottom: 50px;
 font-family: 'Rajdhani', sans-serif;
 text-align: left;
 color: white;
 background-color: black;
 font-size: 32px;
 z-index: 10;
}

#sexyQuote{
 display: none;
 width: 100%;
 height: 100%;
 position: absolute;
 margin-left: 50px;
 margin-bottom: 50px;
 font-family: 'Rajdhani', sans-serif;
 text-align: left;
 color: white;
 background-color: black;
 font-size: 32px;
 z-index: 10;
}

#weekendQuote{
 display: none;
 width: 100%;
 height: 100%;
 position: absolute;
 margin-left: 50px;
 margin-bottom: 50px;
 font-family: 'Rajdhani', sans-serif;
 text-align: left;
 color: white;
 background-color: black;
 font-size: 32px;
 z-index: 10;
}


.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.blessed{background-image:url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/118/person-with-folded-hands_1f64f.png);}
.late{background-image:url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/118/anguished-face_1f627.png);}
.productive{background-image:url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/118/nerd-face_1f913.png);}
.shit{background-image:url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/118/pile-of-poo_1f4a9.png);}
.stressed{background-image:url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/118/shocked-face-with-exploding-head_1f92f.png);}
.gym{background-image:url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/118/flexed-biceps_1f4aa.png);}
.sexy{background-image:url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/118/face-throwing-a-kiss_1f618.png);}
.weekend{background-image:url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/118/smiling-face-with-sunglasses_1f60e.png);}

.cc-selector input:active +.drinkcard-cc{opacity: .5;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.5) grayscale(1) opacity(.8);
       -moz-filter: brightness(1.5) grayscale(1) opacity(.8);
            filter: brightness(1.5) grayscale(1) opacity(.8);
            margin: 20px;
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(0) opacity(1);
       -moz-filter: brightness(1.2) grayscale(0) opacity(1);
            filter: brightness(1.2) grayscale(0) opacity(1);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
